.fixed-top {
  padding: 0 !important;
}
.navbarTop {
  background-color: #3c3d37 !important;
}
.brandTitle {
  display: flex;
  align-items: center;
}
.brandTitle > h1 {
  color: #ecdfcc;
}
.brandTitle > span {
  font-weight: 600;
  color: #697565;
}
.navbarButton {
  background-color: #ecdfcc !important;
}
.offcanvarSidebar {
  background-color: #ecdfcc !important;
}
#offcanvasNavbarLabel > span {
  color: #1e201e;
}
.pageLinkMob > span {
  font-size: 18px;
  font-weight: 400;
  color: #ecdfcc;
}
.pageSubLinkMob {
  color: aliceblue !important;
  background-color: #697565 !important;
}
.menu {
  padding: 16px 30px;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  font-weight: 300;
  color: aliceblue !important;
  background-color: #697565;
}
