.footer {
  display: flex;
  justify-content: center;
  color: #ecdfcc;
  background: linear-gradient(to bottom, #3c3d37, #1e201e);
  padding: 50px 0px;
}
.footerContainer {
  width: 1400px;
}
.footerContainerTop {
  display: flex;
  justify-content: space-between;
}
.footerContainerTopItem {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footerContainerTopItem > h2 {
  font-size: 18px;
  color: aliceblue;
}
.footerContainerTopItem > span {
  font-weight: 300;
}
.footerContainer > hr {
  margin: 50px 0px;
  height: 0;
  border: 1px solid rgb(72, 68, 68);
}
.footerContainerbottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footerContainerbottomLeft {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 20px;
}
.footerContainerbottomLeft > span {
  font-size: 13px;
  white-space: nowrap;
}
.footerContainerbottomRight {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 45px;
}
.socialMediaIcons {
  display: flex;
  gap: 8px;
}
.socialMediaIcon {
  gap: 20px;
  width: 32px;
  height: 32px;
}
.server {
  display: flex;
  gap: 10px;
}
.server > .socialMediaIcon {
  width: 22px;
  height: 22px;
}
