.ServiceHighlights {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  padding: 100px 0px;
}
.ServiceHighlightsContainer {
  width: 1400px;
  display: flex;
  align-items: center;
  gap: 200px;
}
.highlightsItemLeft {
  display: flex;
  flex-direction: column;
  flex: 3;
  gap: 15px;
}
.highlightsItemRight {
  text-align: center;
  flex: 2;
}
.faCircleCheck {
  display: flex;
}
.highlightsItemVideo {
  width: 600px;
}
.highlightsItemLeft > h1 {
  font-weight: 500;
  margin-bottom: 10px;
}
.highlightsTitle {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
.highlightsTitle > p {
  font-size: 18px;
  font-weight: 300;
  color: rgb(84, 81, 81);
  line-height: 28px;
  letter-spacing: 1px;
}
.highlightsItemLeft > p {
  font-size: 18px;
  font-weight: 500;
  color: grey;
}
